.file-upload-container {
    position: relative;
    width: 76%;
    .file-upload-field{
        min-width:100% !important;
        height:200px !important;
        border:2px dashed #CBD2DC !important;
        background-color: #f9f9f9 !important;
        .file-types{
            display: none !important;
        }
        svg{
            display: none !important;
        }
        .jWkLDY{
            justify-content: center;
        } 
        .kFhUBM{
            color: #99a1a6;
            font-size: 16px !important;
        }
    }  
    .upload-icon{
        position: absolute;
        top:60%;
        left: 50%;
        color: #99a1a6;
        font-size: 30px;
    } 
    .file-details{
        margin-top: 2px;
    }
}
