.ots-smooth-dnd {
    .smooth-dnd-container {
        .smooth-dnd-draggable-wrapper {
            position: relative;
            padding-left: 25px;

            &:before {
                content: "01";
                position: absolute;
                top: 24px;
                left: 0px;
            }

            &:nth-child(2) {
                &:before {
                    content: "02";
                }
            }

            &:nth-child(3) {
                &:before {
                    content: "03";
                }
            }

            &:nth-child(4) {
                &:before {
                    content: "04";
                }
            }

            &:nth-child(5) {
                &:before {
                    content: "05";
                }
            }

            &:nth-child(6) {
                &:before {
                    content: "06";
                }
            }

            &:nth-child(7) {
                &:before {
                    content: "07";
                }
            }

            &:nth-child(8) {
                &:before {
                    content: "08";
                }
            }

            &:nth-child(9) {
                &:before {
                    content: "09";
                }
            }

            &:nth-child(10) {
                &:before {
                    content: "10";
                }
            }

            &:nth-child(11) {
                &:before {
                    content: "11";
                }
            }

            &:nth-child(12) {
                &:before {
                    content: "12";
                }
            }

            &:nth-child(13) {
                &:before {
                    content: "13";
                }
            }

            &:nth-child(14) {
                &:before {
                    content: "14";
                }
            }

            &:nth-child(15) {
                &:before {
                    content: "15";
                }
            }

            &:nth-child(16) {
                &:before {
                    content: "16";
                }
            }

            &:nth-child(17) {
                &:before {
                    content: "17";
                }
            }

            &:nth-child(18) {
                &:before {
                    content: "18";
                }
            }

            &:nth-child(19) {
                &:before {
                    content: "19";
                }
            }

            &:nth-child(20) {
                &:before {
                    content: "20";
                }
            }

            &:nth-child(21) {
                &:before {
                    content: "21";
                }
            }

            &:nth-child(22) {
                &:before {
                    content: "22";
                }
            }

            &:nth-child(23) {
                &:before {
                    content: "23";
                }
            }

            &:nth-child(24) {
                &:before {
                    content: "24";
                }
            }

            &:nth-child(25) {
                &:before {
                    content: "25";
                }
            }
        }
    }
}

.file-upload-container {
    position: relative;
    width: 100%;
    .file-upload-field{
        min-width:100% !important;
        height:120px !important;
        border:2px dashed #CBD2DC !important;
        background-color: rgba(0,0,0,0.05) !important;
        z-index: 1;
        .file-types{
            display: none !important;
        }
        svg{
            display: none !important;
        }
        .jWkLDY{
            justify-content: center;
        } 
        .kFhUBM{
            color: #99a1a6;
            font-size: 16px !important;

            span {
                text-decoration: none;
            }
        }
    }  
    .upload-icon{
        position: absolute;
        top: 50%;
        left: calc(50% - 15px);
        color: #ac0521;
        font-size: 30px;
        z-index: 0;
    } 
    .file-details{
        margin-top: 2px;
    }
}

.quill {
    .ql-container {
        height: 200px !important;
    }
}