.assessment-detail {
    background-image: url(../../assets/Yaksha-Login_01.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    .assessment-box {
        background-color: rgba(35, 49, 57, 0.9);
        border-radius: 8px;
    }
}